<h1><%= t('listing', name: t('contact.title', count: 1)) %></h1>
<%= image_tag(@contact.avatar_url, class: 'rounded mx-auto d-block') if @contact.avatar? %>

<table class="table table-striped table-hover">

 <tr>
   <th scope="row"><%= t('contact.name') %>:</th>
   <td><%= @contact.name %></td>
 </tr>
 <tr>
   <th scope="row"><%= t('contact.birthday') %>:</th>
   <td><%= @contact.birthday %></td>
 </tr>

  <%= @contact.phones.each do |phone| %>
  <tr>
    <th scope="row"><%= t('contact.phone') %>:</th>
    <td><%= phone.number %></td>
    <% if phone.default == true%>
      <th scope="row"><%= t('contact.phone.default') %>:</th>
      <td><%= phone.default %></td>
    <% end %>
  </tr>
  <% end %>

</table>

<%= link_to t('edit'), edit_contact_path(@contact), class: 'btn btn-primary', role: :button %>
<%= link_to t('index'), contacts_path, class: 'btn btn-outline-secondary', role: :button %>
