<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to t('contacts'), root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <%= link_to 'pt-BR', root_path(locale: 'pt-BR'), class: 'nav-item nav-link'%>
        <%= link_to 'en', root_path(locale: 'en'), class: 'nav-item nav-link'%>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-item nav-link') %>
    <% end %>
  </nav>

  <main class="container" role="main">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> alert-dismissible fade show" role="alert">
        <%= value %>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

       <%= yield %>
  </main>
  </body>
</html>
